BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 157a7db1f8b8

CREATE EXTENSION IF NOT EXISTS vector;

CREATE TABLE profiles (
    id UUID NOT NULL, 
    email VARCHAR(320), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

ALTER TABLE profiles
        ADD CONSTRAINT profiles_id_fkey
        FOREIGN KEY (id) REFERENCES auth.users (id) ON DELETE CASCADE;

CREATE TABLE source_documents (
    id UUID NOT NULL, 
    ticker VARCHAR(16) NOT NULL, 
    company_name VARCHAR(255) NOT NULL, 
    filing_type VARCHAR(16) NOT NULL, 
    filing_date DATE, 
    fiscal_year INTEGER, 
    accession_number VARCHAR(64) NOT NULL, 
    source_url TEXT, 
    markdown_content TEXT NOT NULL, 
    metadata JSONB DEFAULT '{}' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_source_documents_accession_number UNIQUE (accession_number)
);

CREATE INDEX ix_source_documents_ticker ON source_documents (ticker);

CREATE TABLE chat_threads (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    title VARCHAR(255) DEFAULT 'New chat' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES profiles (id) ON DELETE CASCADE
);

CREATE INDEX ix_chat_threads_user_id ON chat_threads (user_id);

CREATE TABLE document_chunks (
    id UUID NOT NULL, 
    document_id UUID NOT NULL, 
    chunk_index INTEGER NOT NULL, 
    text TEXT NOT NULL, 
    page_label VARCHAR(128), 
    token_count INTEGER, 
    embedding VECTOR(1536), 
    metadata JSONB DEFAULT '{}' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES source_documents (id) ON DELETE CASCADE, 
    CONSTRAINT uq_document_chunks_document_index UNIQUE (document_id, chunk_index)
);

CREATE INDEX ix_document_chunks_document_id ON document_chunks (document_id);

CREATE INDEX ix_document_chunks_metadata ON document_chunks USING gin (metadata);

ALTER TABLE document_chunks
        ADD COLUMN search_vector tsvector
        GENERATED ALWAYS AS (to_tsvector('english', coalesce(text, ''))) STORED;

CREATE INDEX ix_document_chunks_search_vector
        ON document_chunks USING gin (search_vector);

CREATE INDEX ix_document_chunks_embedding
        ON document_chunks USING hnsw (embedding vector_cosine_ops);

CREATE TABLE chat_messages (
    id UUID NOT NULL, 
    thread_id UUID NOT NULL, 
    role VARCHAR(32) NOT NULL, 
    content TEXT NOT NULL, 
    message_json JSONB, 
    sort_order INTEGER NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(thread_id) REFERENCES chat_threads (id) ON DELETE CASCADE
);

CREATE INDEX ix_chat_messages_thread_id ON chat_messages (thread_id);

CREATE TABLE message_citations (
    id UUID NOT NULL, 
    message_id UUID NOT NULL, 
    chunk_id UUID NOT NULL, 
    citation_index INTEGER NOT NULL, 
    quote TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(chunk_id) REFERENCES document_chunks (id) ON DELETE RESTRICT, 
    FOREIGN KEY(message_id) REFERENCES chat_messages (id) ON DELETE CASCADE
);

CREATE INDEX ix_message_citations_chunk_id ON message_citations (chunk_id);

CREATE INDEX ix_message_citations_message_id ON message_citations (message_id);

ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;

ALTER TABLE chat_threads ENABLE ROW LEVEL SECURITY;

ALTER TABLE chat_messages ENABLE ROW LEVEL SECURITY;

ALTER TABLE message_citations ENABLE ROW LEVEL SECURITY;

ALTER TABLE source_documents ENABLE ROW LEVEL SECURITY;

ALTER TABLE document_chunks ENABLE ROW LEVEL SECURITY;

CREATE POLICY profiles_select_own ON profiles
        FOR SELECT USING (auth.uid() = id);

CREATE POLICY profiles_insert_own ON profiles
        FOR INSERT WITH CHECK (auth.uid() = id);

CREATE POLICY profiles_update_own ON profiles
        FOR UPDATE USING (auth.uid() = id);

CREATE POLICY chat_threads_owner ON chat_threads
        FOR ALL USING (auth.uid() = user_id);

CREATE POLICY chat_messages_owner ON chat_messages
        FOR ALL USING (
            EXISTS (
                SELECT 1 FROM chat_threads t
                WHERE t.id = chat_messages.thread_id
                  AND t.user_id = auth.uid()
            )
        );

CREATE POLICY message_citations_read_owner ON message_citations
        FOR SELECT USING (
            EXISTS (
                SELECT 1 FROM chat_messages m
                JOIN chat_threads t ON t.id = m.thread_id
                WHERE m.id = message_citations.message_id
                  AND t.user_id = auth.uid()
            )
        );

CREATE POLICY source_documents_read_authenticated ON source_documents
        FOR SELECT TO authenticated USING (true);

CREATE POLICY document_chunks_read_authenticated ON document_chunks
        FOR SELECT TO authenticated USING (true);

INSERT INTO alembic_version (version_num) VALUES ('157a7db1f8b8') RETURNING alembic_version.version_num;

COMMIT;

